<!doctype html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <title>タスク一覧</title>
</head>
<body>
<section layout:fragment="content">
    <div>
        <a th:href="@{tasks/creationForm}" class="btn btn-primary">作成</a>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            検索
        </div>
        <div class="card-body mt-3">
            <form th:action="@{/tasks}" method="get" th:object="${searchDTO}">
                <div class="form-group">
                    <label class="form-label" for="summarySearch">概要</label>
                    <input type="text" class="form-control" id="summarySearch" name="summary" placeholder="概要" th:field="*{summary}">
                </div>
                <div class="form-group mt-3">
                    <div>
                        <label class="form-label" for="summarySearch">ステータス</label>
                    </div>
                    <div class="btn-group">
                        <input class="btn-check" type="checkbox" id="statusSearchTodo" name="status" value="TODO" th:checked="*{isChecked('TODO')}">
                        <label class="btn btn-outline-primary" for="statusSearchTodo">TODO</label>
                        <input class="btn-check" type="checkbox" id="statusSearchDoing" name="status" value="DOING" th:checked="*{isChecked('DOING')}">
                        <label class="btn btn-outline-primary" for="statusSearchDoing">DOING</label>
                        <input class="btn-check" type="checkbox" id="statusSearchDone" name="status" value="DONE" th:checked="*{isChecked('DONE')}">
                        <label class="btn btn-outline-primary" for="statusSearchDone">DONE</label>
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">検索</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>概要</th>
                <th>ステータス</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${taskList}" th:object="${task}">
                <td><a th:href="@{/tasks/{id}(id=*{id})}" th:text="'#' + *{id}"></a></td>
                <td><a th:href="@{/tasks/{id}(id=*{id})}" th:text="'#' + *{summary}"></a></td>
                <td th:text="*{status}"></td>
            </tr>
            </tbody>
        </table>

    </div>
</section>
</body>
</html>